@import url('https://fonts.googleapis.com/css2?family=Megrim&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --logo-font: 'Megrim', cursive;
    --main-font: 'Space Mono', monospace;
}

/* GLOBAL STYLES */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--main-font);
}

button {
    cursor: pointer;
}