.profile-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60vh;
  width: 100vw;
  margin: 0 auto;
}

.profile-form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.avatar-preview {
  height: 250px;
  width: 250px;
  border-radius: 50%;
  object-fit: cover;
}

.hidden {
  display: none;
}

#update-button {
  margin-top: 30px;
  margin-bottom: 48px;
  font-family: var(--main-font);
  padding: 10px 20px;
  border-radius: 0.4em;
  border: none;
  color: white;
  background: rgb(183, 227, 180);
  background: linear-gradient(45deg, rgba(183, 227, 180, 1) 0%, rgba(86, 149, 137, 1) 66%);
}
