.profile-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60vh;
  width: 100vw;
  margin: 0 auto;
}

.profile-form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
