/* @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');
 
css for hamburger menu in nav

:root {
  --logo-font: 'Megrim', cursive;
  --main-font: 'Space Mono', monospace;
}

/* * {
} */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

/* .header{
    border-bottom: 1px solid #E2E8F0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    margin-left: 5rem;
}

.nav-link{
    font-size: 1.6rem;
    font-weight: 400;
    color: #475569;
}

.nav-link:hover{
    color: #482ff7;
}

.nav-logo {
    font-size: 2.1rem;
    font-weight: 500;
    color: #482ff7;
}

@media only screen and (max-width: 768px) {
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 2.5rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        -webkit-transform: translateY(8px) rotate(45deg);
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        -webkit-transform: translateY(-8px) rotate(-45deg);
        transform: translateY(-8px) rotate(-45deg);
    }
} */
*/

.form-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.page-header {
    display: flow-root;
}

.logo {
    font-family: var(--logo-font);
    font-size: 2.4em;
    float: left;
    margin-top: 5px;
}

#logo-img {
    height: 50px;
    width: auto;
    float: right;
}

#auth-header {
    font-size: 1.4rem;
    margin-bottom: 5px;
    text-align: center;
}

#collabo-logo {
    margin: 0 auto;
}

/* .form-content {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
} */

#auth-form {
    width: 100%;
    margin: 0 auto;
    max-width: 400px;
    border: 1px solid;
    padding: 20px;
    display: grid;
    gap: 20px;
}

#auth-input,
button {
    font-family: var(--main-font);
}

#sign-in-p {
    font-family: var(--main-font);
}

#sign-in-btn {
    background-color: rgb(183, 227, 180);
    margin: auto;
    margin-top: 5%;
    border-radius: 0.4em;
    box-shadow: 0px 0px 2px -2px;
}

#sign-in-btn:hover {
    /* background: linear-gradient(45deg, rgba(86, 149, 137, 1) 45%, rgba(183, 227, 180, 1) 80%); */
}

#sign-in-btn:active {
    transform: scale(.98);
}

#auth-form label {
    display: grid;
    gap: 5px;
    margin-bottom: -20px;
}

#auth-form label div {
    font-family: 'Titillium Web';
    font-size: 0.9em;
    font-weight: bold;
    color: var(--label-color);
}

#auth-form input,
#auth-form textarea,
#auth-form select {
    width: 100%;
    font-size: 1em;
    padding: 10px;
}

#auth-form button {
    width: 40%;
    font-size: 1em;
}

#auth-form input,
#auth-form select {
    height: 30px;
}

#auth-form input[type='file'] {
    padding: 0;
}


/* form button:hover {
    background-color: rgb(183, 227, 180);
} */

#auth-form form button:disabled {
    opacity: 0.5;
}

.error {
    min-height: 1em;
    color: red;
}

.hidden {
    display: none;
}
